* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding: 25px;
  align-items: center;
  background-color: rgb(58, 57, 57);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
}

.header-links {
  display: flex;
  gap: 4em;
}

.header-links a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 1em;
  font-size: large;
}

form {
  display: flex;
  border: none;
  margin: 10px;
  border-radius: 5px;
  width: 220px;
  height: 36px;
  margin-right: 43px;
}

form img {
  width: 17.5px;
  height: 17.5px;
}

#btn-search {
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 9px 0 9px 12px;
}

.profile-img img {
  padding: 8px 30px 8px 0;
}

.search-icon input#Search {
  background: #efefef;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 9px 45px 12px 10px;
}

.content-left h1 {
  margin-top: 157px;
  font-family: "Lemonada";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 72px;
  padding-left: 408px;
  padding-bottom: 31px;
}

.header-body {
  display: flex;
  font-family: "Lemonada";
  font-style: normal;
  font-size: 24px;
  line-height: 48px;
  background: #d9d9d9;
}

.header-body .content-left p {
  padding-left: 148px;
  padding-right: 30px;
  font-weight: 500;
}

footer p {
  text-align: center;
  padding-top: 7px;
  background: #d9d9d9;
  max-width: 1440px;
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
  padding-bottom: 23px;
}
